<h1>Register</h1>
<%= form_with model: @user, id: 'signup' do |form| %>
  <%= form.label :name, "User Name"%>
  <%= form.text_field :name %>
  <%= form.label :display_name, "Display Name"%>
  <%= form.text_field :display_name %>
  <%= form.submit %>
<% end %>
<%= javascript_pack_tag "src/register" %>